@{
    ViewBag.Title = "Vasga Chat";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" id="message" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="btn btn-success" id="sendMessage" value="Enviar" />
        </div>
    </div>
    <h3>Mensajes del chat</h3>
    <div class="row">
        <ul id="discussion"></ul>
    </div>
</div>

<input type="hidden" id="displayName" />


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>

    @*Library which loads in the time of compilation. And the hub functions are prepared 
        to be executed in JS for html clients*@
    <script src="~/signalr/hubs"></script>

    @*javascript function*@
    <script type="text/javascript">
        $(function () {
            var chat = $.connection.chatHub;

            /*When someone sends -> Everyone receives it*/
            chat.client.sendChat = function (name, message) {
                var divName = $("<div/>").text(name).html();
                var divMessage = $("<div/>").text(message).html();

                $("#discussion").append("<li><strong>" + divName + ":<strong> " + divMessage + "</li>");
            };

            /*When someone enters for the first time*/
            var nameOwner = prompt("¿Cuál es tu nombre? ", "");
            $("#displayName").val(nameOwner);

            /*Focus on the message box*/
            $("#message").focus();

            /*If the connection fails it will initialize the connection*/
            $.connection.hub.start().done(function () {
                /*To be sent by clicking on the button*/
                $("#sendMessage").click(function () {

                    var nameOwner = $("#displayName").val();
                    var messageText = $("#message").val();

                    /*Sent to the backend (function is called in ChatHub.cs)*/
                    chat.server.send(nameOwner, messageText);

                    /*Clear text box after sending message*/
                    $("#message").val("").focus();
                })
            })
        })
    </script>
}